/************************************************************************************
smaller than 980----------------1024New
*************************************************************************************/
@media screen and (max-width: 1024px) {
   
    #topBar { 
	width:100%;
	margin:0;
	padding:0;
	}
	#sidebar #put-here {
	position:relative;
	z-index:80;
	margin:0;
	
}
	
	/* pagewrap */
	#pagewrap {
		width: 95%;
		margin: 0 auto;
	}
	#headerContainer {
	position:relative;
	}
	#header {
	//padding: 3% 4%;
	padding:20px 0 0;
	width: 90%;
	margin:0;
	}
	.coffee {
	display:none;
	}
	#site-logo {
	padding:0 0 0 15px;
	margin:0;
	}
	
	#site-logo a {
	font-size: 95%;
	}
	#site-description {
	padding:0 0 0 250px;
	margin:100px 0 0;
	}

	
	#main-nav {
	background: none;
	width:97%
	}
	#main-nav li {
	margin: 0;
	width:20%;
	}
	#main-nav li.first {      /** was #main-nav li.left, changed it to 'first' when added block_menu **/
	margin: 0;
	width:19%;
	}

	#main-nav li.image {
	display:none;
	}

	/* content */
	#content {
		width: 55%;
		padding: 3% 4%;
	}
	#rightContent {
	position:static;
	float:none;
	width: auto;
	padding:0;
	}
	#rightContent p {
	padding:0;
	}
	#leftContent {
	position:static;
	float:none;
	width:auto;
	}
	

	/* sidebar */
	#sidebar {
		width: 30%;
	}
	#sidebar .widget {
		padding: 8% 7%;
		margin-bottom: 10px;
	}

	/* embedded videos */
	.video embed,
	.video object,
	.video iframe {
		width: 100%;
		height: auto;
		min-height: 300px;
	}
	#marissaFade {
	width:80%;
	height:auto;
	min-height: 300px;
	}
   .location {
   position:static;
   float:none;
   margin:0;
   width:94%;
   }
   .pdfBottom {
   position:static;
   float:none;
   margin:0;
   width:94%;
   }
   .location img {
   padding:0;
   }
   
	
    .topFooter .wholesale,
    .topFooter .donations,
	.topFooter .contact {
	position:static;
	font-size: 100%;
	line-height: 1.3em;
	width: 93%;
	height: 100px;
	margin:0 2% 0 0;
	padding:2% 3% 2% 2%;
	//background: #a5916f;
    }
    .topFooter .about {   /** this box is seperate because it is the last one, no margin-right **/
    position:static;
	font-size: 100%;
	line-height: 1.3em;
	width: 93%;
	height: 100px;
	margin:0 2% 0 0;
	padding:2% 3% 2% 2%;

   }
   .topFooter h3 {
   padding:0 0 0 5px;
   text-align:left;
}
.vote-form { /** for poll user has not voted **/
background: none;
}
a.voteHere { /** for green check in view poll stats **/
position:static;
display:block;
margin: 0 0 5px;
}	
.form-textarea-wrapper textarea { /** this is to change width of text area in  Contact webform **/
    -moz-box-sizing: border-box;
    display: block;
    margin: 0;
    width: 53%;
	height:150px;
	padding: 10px 10px;
    border-radius: 3px 3px; 
   -moz-border-radius: 3px; 
   -webkit-border-radius: 3px;
    background-color: transparent;
    -moz-box-shadow:   none;
	-webkit-box-shadow: none;
	box-shadow:    none;
       color:grey;
   background: none;
   border: 1px solid #000000;
  // behavior:url(http://setdesign-la.com/bagelmania-devel/sites/all/themes/zen/ashly/css/PIE.htc);
  clear:both;
}
input.form-text {
    -moz-box-shadow:    none;
	-webkit-box-shadow: none;
     box-shadow:        none;
	 clear:both;
	 }

#content article.post img {
float: left;
margin: 0 0 15px;
}
#content p {
float:left;
clear:both;
}

#Left {
position:relative;
float:left;
width: 80%;
}
#Right {
position:relative;
float:left;
width:80%;
}
.pageBorder {
background:none;
}
//.fancybox {  /** JH-TURNED OFF FOR REDTRUCK- this is for the sidebar fancybox display,  **/
//	display:none;
//	} 
	
	
	#Gallery  {    /** this works for both the menu and sidebar for photo swipe gallery **/
	display:block;
	}
.fancy {            /*** this is for the Menu page fancybox display ***/
display:none;
}
	
	
}  /**** END bracket for max 980, keep here *****/

/** ##############################################################################################################################
################################################################################################################################# **/



