

/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
   font-size:14px;
   color:#000;
}

img, fieldset {
	border: 0;
}

/* set image max width to 100% */
img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto; /* ie8 */
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/** ********************************************************************************
Inset Shadow Background Colors
************************************************************************************ **/
.blue {
background: #4082bb;
-webkit-box-shadow: 0 0 50px 10px #2e71ab inset;
-moz-box-shadow:    0 0 50px 10px #2e71ab inset;
box-shadow:         0 0 50px 10px #2a5a83 inset;

}
.red{
background: #bb4e40;
-webkit-box-shadow: 0 0 50px 10px #981605 inset;
-moz-box-shadow:    0 0 50px 10px #981605 inset;
box-shadow:         0 0 50px 10px #981605 inset;
}
.grey {
background: #dfddd8;
-webkit-box-shadow: 0 0 50px 10px #cbc9c5 inset;
-moz-box-shadow:    0 0 50px 10px #cbc9c5 inset;
box-shadow:         0 0 50px 10px #a6a5a2 inset;
}
.orange {
background: #e9ad45;
-webkit-box-shadow: 0 0 50px 10px #db9b2d inset;
-moz-box-shadow:    0 0 50px 10px #db9b2d inset;
box-shadow:         0 0 50px 10px #d28602 inset;
}
.green {
background: #7a9f22;
-webkit-box-shadow: 0 0 50px 10px #49630a inset;
-moz-box-shadow:    0 0 50px 10px #49630a inset;
box-shadow:         0 0 50px 10px #49630a inset;
}
.yellowImage {
background: #f1e239 url(http://www.setdesign-la.com/redtruck-images/yellowImage.jpg) repeat 0 0;
}
.yellow{
//-webkit-box-shadow: 0 0 50px 10px #a69a12 inset;
//-moz-box-shadow:    0 0 50px 10px #a69a12 inset;
//box-shadow:         0 0 50px 10px #a69a12 inset;
background: #f1e239 url(http://www.setdesign-la.com/redtruck-images/woodBG.jpg) repeat 0 0;
}
.black {
background: #000000;
}


/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
	
    //background:  url(http://setdesign-la.com/redtruck-images/background.jpg) repeat;
	font-family: Raleway, sans-serif;
	color: #000;
	background: #fff;
}
a {
	color: #2e5378;
	text-decoration: none;
	outline: none;
	font-weight:bold;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0;
	padding: 0;
}

/* list */
ul, ol {
	margin:0;
	padding: 0;
	//line-height: 1em;
}
li {
	margin:0;
	padding: 0;
}

/* headings */
h4 {
color:#000;
font-size: 16px;
font-weight:bold;
}

/** #page-title  {
margin: 0 0 15px;
} **/


/* reset webkit search input styles */
input[type=search] {
	-webkit-appearance: none;
	outline: none;
}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/

#pagewrapRT {
	width: 100%;
	margin: 0 auto 0 auto;
}
.pageBorderRT {
background: url(http://setdesign-la.com/bagelmania-images/latteralBorder.png)  0 0 repeat-x;
height: 5px;
width: 100%;
padding:0;
margin: 0;
position:relative;
}

/************************************************************************************
HEADER
*************************************************************************************/
#headerContainerRT {
     position:fixed;
	 height: 57px;
     width:100%;
    /** -webkit-box-shadow: 0 3px 30px #645740; **/
	/** -moz-box-shadow: 0 3px 30px #645740;    **/
	/** box-shadow: 0 3px 30px #645740;         **/
    background: url(http://setdesign-la.com/redtruck-images/nav-bg.jpg) 0 0 repeat-x ;	
	z-index: 500;
	border-top: 1px solid #000000;
	top:0;
    behavior:url(http://setdesign-la.com/bagelmania-devel/sites/all/themes/zen/ashly/css/PIE.htc);
}

#topBarRT {
position:absolute;
top:0;
left:0;
width:100%;
height:10px;
margin:0;
padding:0;
background:  #14506f; /* #9a9579; */
//-webkit-box-shadow: 0 3px 30px #000000;
	-moz-box-shadow: 0 3px 30px #000000;
	//box-shadow: 0 3px 30px #000000;
	behavior:url(http://setdesign-la.com/bagelmania-devel/sites/all/themes/zen/ashly/css/PIE.htc);
}
#redtruckLogo {
position:absolute;
width: 117px;
height:40px;
padding: 3px 3px 3px 6px;
top:0;
left:0;
}


#headerRT {
	position:relative;
	width: 100%;
    padding:  8px 0 0;
	margin: 0 auto  ;	
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
#menu-icon {
	display: none; /* hide menu icon initially */
}
#main-navRT{
	width: 40%;       /** JH- changed 980px **/
	height: 30px;
	position:relative;   /** JH- added **/
	margin: 0 auto 10px auto; 
	padding: 3px 0;
	z-index: 100;
	/* rounded corner */
	//-webkit-border-radius: 8px;
	//-moz-border-radius: 8px;
	//border-radius: 8px;
	/* box shadow */
	//-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	//-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	//box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	//background: url(http://setdesign-la.com/bagelmania-images/menuBorder2.png) ;
}

#main-navRT li {
	margin: 0; 
	padding: 0;
	list-style: none;
	float: left;               
	position: relative;
	text-align:center;
	width: 20%; // 193px;
	//background:#806F52;
	border-left: 1px solid #59432d;
	
}
#main-navRT li.first{           /** #main-nav li.left, changed to first with the change of the menu to the block **/
	margin: 0; 
	padding: 0;
	list-style: none;
	float: left;               
	position: relative;
	text-align:center;
	width: 19%;
	border-left: none;
	
}

#main-navRT a {
	line-height: 16px;
	font-weight: bold;
	font-family: arial;
	font-weight:bold;
	font-size:14px;
	color: #ffffff;
	display: block;
	padding: 7px 15px;
	text-decoration: none;
	//background:#806F52;	
	text-shadow:1px 1px 2px #1d160e;
}
#main-navRT a:hover {
	color: #000000;
	/* gradient */
	//background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#4f4f4f));
	//background: -moz-linear-gradient(top,  #282828,  #4f4f4f);
	//background: linear-gradient(-90deg, #282828, #4f4f4f);
	//background:#C1B091;
    opacity:.5;
    filter: alpha(opacity=25);
	font-weight:bold;
	text-shadow:1px 1px 2px #90775d;
}
#main-navRT a.active {
color: #000;
opacity:.5;
text-shadow:1px 1px 2px #90775d;
font-weight: bold;
}

/************************************************************************************
CONTENT
*************************************************************************************/


/***************************************************
content1
**************************************************** **/
.content1 {
   position:relative;
   float: left;
   margin:  150px  0 30px;  
   padding: 0 0 15px;
   width: 100%;         /* JH was 600px; , 16px added for border */

}
.content1-one {
position: relative;
margin: 0 auto;
width: 60%;
}
.content1-two {
position: relative;
margin: 0 auto;
width: 60%;
}
/** *************************************************
content2
**************************************************** **/
.content2 {
   position:relative;
   float: left;
   margin:  10px  0 30px;  
   padding: 0;
   width: 100%;        
}
.content2-one {        /** contains boxes **/
   position:relative;
   margin:  0 auto;  
   padding: 0;
   width: 60%; 
   height: 500px;  
}
.content2 .ourServices {
  position:relative;
  margin: 65px auto 65px auto;
  padding:5px 1% 5px ;
  width:58%;
  color: #806F52; 
  font-size: 25px;
  border-bottom: 1px solid #806F52;
  -webkit-box-shadow: 0 4px 5px -5px #645740;
  -moz-box-shadow:    0 4px 5px -5px #645740;
   box-shadow:        0 4px 5px -5px #645740;
}
.content2 .shortBox {
   position:relative;
   float: left;
   margin: 0% 1% 1% 0 ;  
   padding: 0;
   width: 32.3%;
   height: 32.3%;
}
.content2 .shortBoxLast {
   position:relative;
   float: left;
   margin: 0% 0% 1% 0 ;   
   padding: 0;
   width: 33.3%;
   height: 32.3%;
   
}
.content2 .longBox {
   position:relative;
   float: left;
   margin: 0% 1% 1% 0 ;   
   padding: 0;
   width: 65.6%;
   height: 32.3%;
   
}
.content2 .longBoxLast {
   position:relative;
   float: left;
   margin: 0% 0% 1% 0 ;   
   padding: 0;
   width: 66.4%;
   height: 32.3%;  
}
.content2 .longBoxLast:hover,
.content2 .longBox:hover ,
.content2 .shortBoxLast:hover,
.content2 .shortBox:hover {
    opacity:.5;
    filter: alpha(opacity=25);
}



.shortBox p,
.longBox p {
margin:5px 10px 0 5px;
padding: 10px 0 10px 10px;
width:150px;
color: #000;
font-size: 13px;
font-weight:bold;
//background: url(http://www.setdesign-la.com/redtruck-images/transparentWhite.png) 0 0 repeat;	
}
.shortBox h1,
.longBox h1{
margin:0;
padding:10px 0 0 10px;
color: #f5ecdc;
font-size: 16px;
text-shadow: 1px 1px 2px #1d160e;
}
.shortBoxLast p,
.longBoxLast  p{
margin:5px 10px 0 5px;
padding: 10px 0 10px 10px;
width:150px;
color: #000;
font-size: 13px;
font-weight:bold;
//background: url(http://www.setdesign-la.com/redtruck-images/transparentWhite.png) 0 0 repeat;
}
.shortBoxLast h1,
.longBoxLast  h1{
margin:0;
padding:10px 0 0 10px;
color: #ffffff;
font-size: 16px;
text-shadow:1px 1px 2px #1d160e;
}
h1.blackBackground 
{
color: #ffffff;
}



.content2-two {
   position:relative;
   margin:  10px auto;  
   padding: 0;
   width: 60%; 
   height: 150px;  
}
.content2 .clients {
   position:relative;
   float: left;
   margin: 0% 1% 1% 0 ;    
   padding: 25px 1%;
   width: 22%;
   height: 25px;
   font-family: Arial;
   font-size:16px;
   //line-height:16px;
   text-align:center;
}
.content2 .clientsLast {
   position:relative;
   float: left;
   margin: 0% 0% 1% 0 ;  
   padding: 25px 1%;
   width: 23%;
   height: 25px;
   font-family: Arial;
   font-size:16px;
  // line-height: 75px;
   text-align:center;
}
.content2 .contact {
  position:relative;
  margin: 10px auto 30px;
  padding:5px 0 5px;
  width: 60%;
  color: #806F52; 
  //font-size: 25px;
  text-align: center;
}

/** *************************************************
content3
**************************************************** **/

.content3 {
   position:relative;
   float: left;
   margin:  10px  0 30px;  
   padding: 0;
   width: 100%;         /* JH was 600px; , 16px added for border */
   //min-height: 1436px;
   background:#c1b091 ;    /* #a5916f;  */
   border: 8px solid #cbbca1 ; /* #B29F7F; */
}
.content4 {
   position:relative;
   float: left;
   margin:  10px  0 30px;  
   padding: 0;
   width: 100%;         /* JH was 600px; , 16px added for border */
   //min-height: 1436px;
   background:#c1b091 ;    /* #a5916f;  */
   border: 8px solid #cbbca1 ; /* #B29F7F; */
}
.contentBorder {
background: url(http://setdesign-la.com/bagelmania-images/latteralBorder.png)  left bottom repeat-x;
height: 5px;
width: 100%;
padding:0;
margin: 0 0 15px;
position:relative;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/

.widget {
	background:#c1b091 ;    /* #a5916f;  */   /** JH kept this for style examples only **/
	border: 8px solid #cbbca1 ; /* #B29F7F; */
	margin: 15px 0 15px ;
	padding: 10px 20px;
	/* rounded corner */
	//-webkit-border-radius: 8px;
	//-moz-border-radius: 8px;
	//border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	behavior:url(http://setdesign-la.com/bagelmania-devel/sites/all/themes/zen/ashly/css/PIE.htc);
}



.social img:hover { /** this is for ie8-9 **/
opacity:.5;
filter: alpha(opacity=25);
}


/************************************************************************************
FOOTER
***************************************************************************************/

#footer {
	clear: both;
	color: #ffffff;
	font-size: 11px;
	padding: 0 0 0 0;
	background: #000 url(http://www.setdesign-la.com/redtruck-images/footerBg.jpg) 0 0 repeat-x;
	//height: 175px;
}
.footerInside {
position:relative;
margin: 0px auto ;
padding:15px 0 0px;
width:60%;
}
.bottomMenu {
position:relative;
margin: 0 0 35px;
padding:0;
float:left;
width:50%;
}
.bottomMenuRight {
position:relative;
margin: 0 0 35px;
padding:0;
float:left;
width:50%;
background:transparent;
}
.bottomMenuRight img {
float:right;
}

.bottomMenuInside {
position: relative;
float:left;
margin:0;
padding:5px 0 5px 35px;
width:100%;
height:25px;
line-height:25px;
border-bottom:#806F52;
-webkit-box-shadow:   0 4px 5px -5px #000;
   -moz-box-shadow:   0 4px 5px -5px #000;
        box-shadow:   0 4px 5px -5px #000;
}
#footer .bottomMenuInside a {
text-decoration:none;
}
#footer .bottomMenuInside a:hover {
color: #000;
}
.footerHome {
background: url(http://www.setdesign-la.com/redtruck-images/home2.png)         0 center no-repeat;
}
.footerAbout {
background: url(http://www.setdesign-la.com/redtruck-images/services2.png)     0 center no-repeat;
}
.footerWork {
background: url(http://www.setdesign-la.com/redtruck-images/gallery2.png)      0 center no-repeat;
}
.footerContact {
background: url(http://www.setdesign-la.com/redtruck-images/contact2.png)      0 center no-repeat;
}
#footer a {
	color: #ffffff;
	font-size: 11px;
	font-weight: 400;
}
#footer p {
position:relative;
float:left;
font-size: 11px;
margin: 0 0 10px;
color: #ffffff;
opacity: .5;
}
#footer .logIn  {
position:relative;
float:right;
right: 5px;
}
#footer ul {
float:right;
margin:0;
padding:0;
}
#footer .fancybox {
display:block;
}






/** ############################################################################
     POP-UP LOGIN STYLES
	 ############################################################################ **/
 
 #login label {
 display:none;
 }
  #login form input {
 margin: 0 auto;
 }
 #login .topText {
 margin: 0 0 5px;
 }
 #login form {
 margin: 0 auto;
 text-align:center;
 }
 #login input.form-text {
 float:none;
 background: #ffffff;
 }
 #login .loginTitle {
 text-align:center;
 margin: 0 0 30px ;
 }
 .fancybox-outer {
 //background: url(http://www.setdesign-la.com/bagelmania-images/BMlogin.jpg) 0 0 no-repeat !important;
 }
 

/************************************************************************************
CLEARFIX
*************************************************************************************/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }

/**************************************************************************************
Misc. From System 
*************************************************************************************/
/* searchform */
#searchform {
	position: absolute;
	right: 10px;
	bottom: 6px;
	z-index: 100;
	width: 160px;
}
#searchform #s {
	width: 140px;
	float: right;
	background: #fff;
	border: none;
	padding: 6px 10px;
	/* border radius */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* box shadow */
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	/* transition */
	-webkit-transition: width .7s;
	-moz-transition: width .7s;
	transition: width .7s;
}

tbody {
border:0;
}
tr.even, tr.odd {
background:transparent;
}
// td.title-author {
//display:none;
//}
#content p.submitted {
    border-bottom: 1px dotted #806F52;
    color: #806F52;
    font-size: 12px;
    font-style: italic;
    margin: -5px 0 25px;
    padding: 0px 0 5px;
	font-weight:normal;
}
.node-author .username { /** this is used to get rid of author name in recent block, in right column **/
display:none;
}

#content article.post img { /** for images added to article posts **/
    float: right;
    margin: 0 0 15px 25px;
}
#content a img.fade-title  {
margin:0;
position:realtive;
}
#slideshow img{ /** this is for the fade-slideshow, keep it centered **/
margin:0 !important;
float: none;
}
#content p {
text-align:left;
margin: 0 0 15px;
color: #806F52;
font-weight:bold;
}
.region-news-feed .views-field  {
border-bottom: 1px solid #ffffff;
padding: 5px 0 5px 0;
}

#content article.post .node-20 img,   /** this is for the images on form page, enter-here and contact-form  **/
#content article.post .node-9 img
 { 
 float: right;
 margin: 0 0 0 -30px;

 }
#content h1 {
border-bottom:5px solid #806F52;
padding: 0 0 20px;
margin: 0 0 10px;
}
 
.page-node-9 #content h1  ,
.page-node-20 #content h1  {
 border-bottom: none;
 padding: 25px 0 30px;
 }
 
 .page-user ul.tabs {   /** this hides the tabs list on user logged in page **/
 display:none;
 }
 
 
 /** #################################################################################################################
     VIEW STYLES
	 ################################################################################################################# **/
	 
	 .jh-viewTitle  { 
  position:relative;
  margin: 65px auto 65px auto;
  padding:5px 1% 5px ;
  width:58%;
  color: #806F52; 
  font-size: 25px;
  }
   
	.views-field-title  {
	 text-align:left;
	 margin: 0 0 65px;
	 border-bottom: 1px solid #806F52;
	 padding:5px 1% 5px ;
  -webkit-box-shadow: 0 4px 5px -5px #645740;
  -moz-box-shadow:    0 4px 5px -5px #645740;
   box-shadow:        0 4px 5px -5px #645740;
	 }
	 
/** ****************************************************************************
 These styles below are all for the rt-category block in views 
 ******************************************************************************* **/

#block-views-rt-category-block h2  {       /** this is for the category block heading style for h2 **/
margin: 60px 0 10px 7px;
font-size: 18px;
background:  url("http://www.setdesign-la.com/redtruck-images/gallery3.png") no-repeat scroll 2px center  #d6c2a0;
padding:    2px 0 2px 30px;
color: #000;
font-weight: normal;
font-family: 'Merienda', cursive;
width: 96%;
}
 
 .view-rt-category .views-field-title  {  /** this is for category block, resets all the field items used in other views **/
 margin:0;
 padding:0;
 border-bottom:none;
 -webkit-box-shadow: none;
  -moz-box-shadow:   none;
   box-shadow:       none;
 }
 .categoryCategoryPage {            /** this is for the category type, below category title in category block **/
 font-style:italic;
 font-size:.85em;
 }
 .jh-categoryTitle a {              /** This is for the category title in the category block **/
 color: #806F52;
 }
 .view-rt-category .views-row {    /** this is for the rows of the category list block (aka "rt-category" in views). **/
// background: #dbd9d8;
// border-bottom: 1px solid #dbd9d8;
// border-right: 1px solid grey;
 padding: 3px ;
 margin: 0 0 10px;
 }
 .page-rt-category .content1-one  h1 {  /** this is for h1 styling on rt-category view **/
 background:  url("http://www.setdesign-la.com/redtruck-images/gallery4.png") no-repeat scroll 2px center  #d6c2a0;
 padding:    5px 0 5px 52px;
 margin: 0 0 10px 7px;
 font-family: 'Merienda', cursive;
 color: #000;
 font-weight: normal;
 font-size: 24px;
 width:94%;
 }
  .content1 .catHolder {
 position:relative;
 float:left;
 margin: 5px;
 padding: 3px 0 2px;
 height: 50px;
 width: 100%;
  border-bottom: 1px solid #dbd9d8;
 border-right: 1px solid grey;
  }
  .content1 .catImage {
 position:relative;
 float:left;
 margin:0;
 padding:0;
 height:50px;
 line-height:50px;
 }
  .catImage img {  /** this is for the image to left of title **/
 width: 42px;
 height: 42px;
 border: 2px solid grey;
 padding: 3px;
 }
  .content1 .catTitle {
  position:relative;
 float:left;
 margin:0;
 padding:7px 0 0 5px;
  height:50px;
  }
  .content1 .catTitle span {   /** this is for the category name, right below title **/
   font-style: italic;
   font-size: 11px;
   }
   .content1 .catCategory {
  position:relative;
 float:left;
 margin:0;
 padding:0;
  height:50px;
 line-height:50px;
  }
  
   .more-link a {
  float:left;
  margin: 8px 0 0 8px;
  }
  /** #####################################################################################################
		ABOUT US page styles
	  ##################################################################################################### **/
	  
 .page-node-17 h1 {
	margin: 0 0 15px;
}	
  
 /** #######################################################################################################
		CLIENTS LIST PAGE STYLES
	######################################################################################################## **/

	.page-client-list .views-field-field-client-bio { /** this is for left column loop **/
	position: relative;
	float:left;
	width: 75%;
	}
	.page-client-list .views-field-field-client-name { /** this is for right column loop **/
	position: relative;
	float:left;
	width: 25%;
	}
	
	

 .clientHolder {        /** holds clientList **/
    position: relative;
	float:right;
	margin: 0 0 55px;
	padding: 10px 10px 0 0;
	height: 140px;
	border-right: 1px dotted grey;
	width: 100%;
	}
.clientDescription {
    position: relative;
	float:left;
	margin: 0 ;
	width: 75%;
	}
.clientDescriptionContent {
   position:relative;
  //float:left;
  margin:0 0 55px ;       /** 1% **/
  padding: 20px 0 0 15px;      /** 1% **/
  //width: 20%;       /** 16% **/
  height:130px;
  line-height: 14px;
  text-align:center;
  font-size: 11px;
  font-style: bold;
  text-align:left;
  color: grey;
	}
  
  .clientList {
  position:relative;
  float:right;
  margin: 1% 5% 70px ;       /** 1% **/
  //padding: 1%;      /** 1% **/
  width: 150px;       /** 16% **/
  height:75px;
  line-height: 75px;
  text-align:center;
  color: transparent;
  border: 10px solid #111111;
    border-radius: 4px 4px; 
   -moz-border-radius: 4px; 
   -webkit-border-radius: 4px;
   -webkit-box-shadow: 0 0 50px 10px #733D1A inset;
   -moz-box-shadow:    0 0 50px 10px #733D1A inset;
    box-shadow:         0 0 50px 10px #733D1A inset;
  }

  .clientList .clientHover:hover {
  position: absolute;
  
  margin:0;
  padding:0;
  left:0px;
  width: 100%;
  height: 100%;
  line-height: 12px;
  z-index: 95;
  cursor:pointer;
  opacity:1;
  background: #f1f1f1;
  }
    .clientList .clientHover {
  position: absolute;
  left:0px;
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  line-height: 12px;
  z-index: 95;
  opacity:0;
  background: #f1f1f1;
  }
  .clientList .clientHover .clientImage {
  position:relative;
  float:left;
  width:24%;
  padding: 0;
  margin:15px 0 0;
  border-right: 1px dotted grey;
  }
  .clientList .clientHover .clientText {
  position:relative;
  float:left;
  width:70%;
  padding:20px 0 0 5%;
  margin:0;
  font-size: 11px;
  font-style: bold;
  text-align:left;
  color: grey;
  }
 
  
  .clientList-stem {
   position:absolute;   /** this is for z-index **/
  float:left;
  margin: 0;       /** 1% **/
  padding: 0;      /** 1% **/
  width: 100%;       /** 16% **/
  height:50px;
  line-height: 50px;
  text-align:center;
  color: #000;
  z-index: -1;
  background:  url("http://www.setdesign-la.com/redtruck-images/stem.png") no-repeat scroll center 5px ; 
  }
  
  .page-client-list .content1 h1 {   /** this is for the client list page only, h1 indent **/
  margin: 0 0 70px 0px;
  padding: 20px 0 5px 45px;
  font-family: arial;
   border-bottom: 1px solid #806F52;
  -webkit-box-shadow: 0 4px 5px -5px #645740;
  -moz-box-shadow:    0 4px 5px -5px #645740;
   box-shadow:        0 4px 5px -5px #645740;
  background: url("http://www.setdesign-la.com/redtruck-images/r.png") no-repeat scroll left center  ; 
  }
  .page-client-list .content2-two { /** this removes lower clients list from template on clients page itself **/
  display:none;
  }
  .page-client-list  .content2-clients .ourServices {     /**  this removes lower clients Title from template on clients page itself  **/
  display:none;                                         /**  added div class content2-clients so i can hide clients on client page **/
  }
  
  

/** ###############################################################################################
    FORM STYLES
	############################################################################################### **/
	
.form-textarea-wrapper textarea { /** this is to change width of text area in  Contact webform **/
    -moz-box-sizing: border-box;
    display: block;
    margin: 0;
   // width: 53%;
	height:150px;
	padding: 10px 10px;
    border-radius: 3px 3px; 
   -moz-border-radius: 3px; 
   -webkit-border-radius: 3px;
    background-color: transparent;
    -moz-box-shadow:    inset 0 0 10px #A99878;
	-webkit-box-shadow: inset 0 0 10px #A99878;
	box-shadow:         inset 0 0 10px #A99878;
   color:grey;
   background: none;
   border: 1px solid #806F52;
  // behavior:url(http://setdesign-la.com/bagelmania-devel/sites/all/themes/zen/ashly/css/PIE.htc);
}
.form-textarea-wrapper textarea:hover {
border: 1px solid grey;
}
.form-textarea-wrapper textarea:focus {
outline:none;
border: 1px solid #fff !important;
}
.resizable-textarea .grippie {   /****** this is for the re-sizing widget in the text area in  Contact webform **************/
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none;
	position:relative;
    border-color:none;
    border-style:none;
    border-width: none;
    cursor: s-resize;
    height: 9px;
    overflow: hidden;
//	width:80%;
}

input.form-text{
text-align:left;
background: transparent;
//width: 50%;
padding:0 10px;
margin:0;
//float:left;
line-height: 35px;
height:35px;
color:grey;
border: 1px solid #806F52;
   -moz-box-shadow:    inset 0 0 10px #A99878;
	-webkit-box-shadow: inset 0 0 10px #A99878;
    box-shadow:         inset 0 0 10px #A99878;
    border-radius: 3px 3px; 
   -moz-border-radius: 3px; 
   -webkit-border-radius: 3px;
    //behavior:url(http://setdesign-la.com/bagelmania-devel/sites/all/themes/zen/ashly/css/PIE.htc);
   
}
input.form-text:hover {
border: 1px solid grey;
}
input.form-text:focus {
outline:none;
border: 1px solid #fff !important;
}

 .form-submit {
background: transparent;
border:2px solid #CBBCA1;
cursor:pointer;
border-radius: 3px 3px 3px 3px;
//box-shadow: 0 0 10px #000000 inset;
padding: 3px 5px;
}
 .form-submit:hover {
background: #CBBCA1;
border: 2px solid #806F52;
}

.page-node-15 .content1 h1 {  /** this is for the title style on the thank you page of sending a form submission **/
margin: 0 0 15px;
}

.page-node-15 .content1 h1  { /** this is for contact title style **/
  position:relative;
  margin: 0px auto 45px auto;
  padding:17px 1% 0 45px ;
  //width:58%;
  color: #000; /** was #806F52; **/
  font-size: 25px;
  border-bottom: 1px solid #806F52;
  background: url("http://www.setdesign-la.com/redtruck-images/r.png") no-repeat scroll 0 0 transparent;
  -webkit-box-shadow: 0 4px 5px -5px #645740;
  -moz-box-shadow:    0 4px 5px -5px #645740;
   box-shadow:        0 4px 5px -5px #645740;
}
.companyInfo  {      /** this is for company info title,  directly below contactform **/
  position:relative;
  margin: 0px auto 45px auto;
  padding:5px 1% 5px ;
  //width:58%;
  color: #000; /** was #806F52; **/
  font-size: 25px;
  border-bottom: 1px solid #806F52;
  -webkit-box-shadow: 0 4px 5px -5px #645740;
  -moz-box-shadow:    0 4px 5px -5px #645740;
   box-shadow:        0 4px 5px -5px #645740;
}
.page-node-15  .content1-one {  /** for bottom margin on contact form page **/
margin: 0 auto 105px ;
}

/** ########################################################################################################################
	LOGIN STYLES--fancybox
	######################################################################################################################## **/
	
	#inline h1 {
	text-align: center;
	background: f9f9f9;
	}
	#inline .form-actions {
	text-align:center;
	}
	#inline {
	background: #ffffff url(http://setdesign-la.com/redtruck-images/truck-s-transparent.png) center center no-repeat;
	padding: 10px;	
	}	
	
	/** #######################################################################################################################
		Branding for SEVEN theme in back end interface. ** Change everytime there is a DRUPAL version update
		####################################################################################################################### **/
		
		/** these three styles need to be changed on every DRupal version change, in themes/seven/style.css **/
 
 #branding {
  overflow: hidden;
  padding: 20px 20px 0 20px; /* LTR */
  position: relative;
  //background-color: #e0e0d8;
  background: #D6C2A0 url(http://setdesign-la.com/redtruck-images/redtruck-logo.png) 10px center no-repeat ;
}
#branding div.breadcrumb {
  font-size: 0.846em;
  padding-bottom: 5px;
  padding-left: 130px;
}		
  #branding h1.page-title {
  color: #000;
  margin: 0;
  padding-bottom: 10px;
  padding-left: 130px;
  font-size: 1.385em;
  font-weight: normal;
  float: left; /* LTR */
}

	
	/** #########################################################################################################################
	FADESLIDESHOW.css STYLES
	######################################################################################################################### **/
	
	 #slideContainer {
 position: relative;
 margin: 0 auto;
 width: 70%; //59%;
 padding:0;
 overflow:hidden;
} 


 #slideshow {
    position:relative;
	float:left;
    margin: 0;
	padding: 0;
	width: 50%;      /** JH was 554px;  **/
	opacity:1;
    height: 277px; 
	display:block;
	-webkit-animation:  slideshow 27s   1         forwards;
       -moz-animation:  slideshow 27s   1         forwards;
            animation:  slideshow 27s   1         forwards;
	} 


#slideshow  IMG  {
    position:absolute;
	margin:0;
	padding:0;
	width: 100%;
	//height: 277px; 
	background: #b29f7f url(http://setdesign-la.com/redtruck-images/background.jpg) repeat;
    top:0;
    left:0;
    z-index:8;
    opacity: 0;
	overflow:hidden;  /** ******************* JH added this if using transitions, hide outside of dive **/
	
}
#slideshow  IMG.active   {
    z-index:10;
    opacity: 1;

}

#slideshow  IMG.last-active  {
    z-index:9;
	//opacity: 1;
}











































































































































































































































/** ###############################################################################################
	TRANSITIONS WITH FADE SLIDESHOW TEST
	############################################################################################### **/
 
    .moveTitleLayout {
     z-index: 50;
     top:50px;
     left:-220px;
     position: absolute;
     font-size: 25px;
	 font-weight:bold;
     color: #ffffff;
	//height: 80px;
	 width: 200px;
	 padding: 10px;
	 text-align:center;
	 background: url(http://www.setdesign-la.com/bagelmania-images/transparent.png) 0 0 repeat;	;	
      }
	  
	  .moveTitle {
	 -webkit-animation: moveTitle   5s ease-in-out    2s   1  ;
      -moz-animation:   moveTitle   5s ease-in-out    2s   1  ;
           animation:   moveTitle   5s ease-in-out    2s   1  ;
	   /** animation: <name> <duration> <timing-function> <delay> <iteration-count> <direction> <fill-mode>; **/
	   }
	   .moveTitle2 {
	 -webkit-animation: moveTitle   5s ease-in-out    8s   1  ;
      -moz-animation:   moveTitle   5s ease-in-out    8s   1  ;
           animation:   moveTitle   5s ease-in-out    8s   1  ;
	   /** animation: <name> <duration> <timing-function> <delay> <iteration-count> <direction> <fill-mode>; **/
	   }
	   .moveTitle3 {
	 -webkit-animation: moveTitle   5s ease-in-out    14s   1  ;
      -moz-animation:   moveTitle   5s ease-in-out    14s   1  ;
           animation:   moveTitle   5s ease-in-out    14s   1  ;
	   /** animation: <name> <duration> <timing-function> <delay> <iteration-count> <direction> <fill-mode>; **/
	   }
	   .moveTitle4 {
	 -webkit-animation: moveTitle   5s ease-in-out    20s   1  ;
      -moz-animation:   moveTitle   5s ease-in-out    20s   1  ;
           animation:   moveTitle   5s ease-in-out    20s   1  ;
	   /** animation: <name> <duration> <timing-function> <delay> <iteration-count> <direction> <fill-mode>; **/
	   }
	
  .moveContentLayout
   {
     z-index: 50;
     top: 105px;
     left: -220px;
     position: absolute;
     font-size: 12px;
    color: white;
	//height: 80px;
	width: 200px;
	padding: 10px;
	margin:0;
	text-align:center;
	background: url(http://www.setdesign-la.com/redtruck-images/transparent2.png) 0 0 repeat;	
    }
	p.moveContent  {
	top:140px;
	-webkit-animation:  moveContent   5s ease-in-out    2s   1  ;
      -moz-animation:   moveContent   5s ease-in-out    2s   1  ;
           animation:   moveContent   5s ease-in-out    2s   1  ;
	   /** animation: <name> <duration> <timing-function> <delay> <iteration-count> <direction> <fill-mode>; **/
	   }
	   .moveContent2 {
	-webkit-animation:  moveContent   5s ease-in-out    8s   1  ;
      -moz-animation:   moveContent   5s ease-in-out    8s   1  ;
           animation:   moveContent   5s ease-in-out    8s   1  ;
	   /** animation: <name> <duration> <timing-function> <delay> <iteration-count> <direction> <fill-mode>; **/
	   }
	   .moveContent3 {
	 -webkit-animation: moveContent   5s ease-in-out    14s   1  ;
      -moz-animation:   moveContent   5s ease-in-out    14s   1  ;
           animation:   moveContent   5s ease-in-out    14s   1  ;
	   /** animation: <name> <duration> <timing-function> <delay> <iteration-count> <direction> <fill-mode>; **/
	   }
	   .moveContent4 {
	   
	  -webkit-animation: moveContent   5s ease-in-out    20s   1  ;
      -moz-animation:    moveContent   5s ease-in-out    20s   1  ;
           animation:    moveContent   5s ease-in-out    20s   1  ;
	   /** animation: <name> <duration> <timing-function> <delay> <iteration-count> <direction> <fill-mode>; **/
	   }
	
	
	
	
	.defaultImage {     /** Final Image or text to be shown on right side, this is for "We Build Imagination" and the underscore image **/                     
	position: absolute;	
	top: 50px;
	left: 55%;	
	padding: 0 0 20px;
	z-index: 50;
	color: #806F52;
	opacity: 0;	
	font-size: 32px;
	font-family:Bowlby One;
	-webkit-animation: lastImage 2s  26s  1         forwards;
      -moz-animation:  lastImage 2s  26s  1         forwards;
           animation:  lastImage 2s  26s  1         forwards;
        /** animation: <name> <duration> <timing-function> <delay> <iteration-count> <direction> <fill-mode>; **/
	background: url(http://www.setdesign-la.com/redtruck-images/stroke.png) 0 bottom no-repeat;
	}
	.defaultImage2 {   /** this class is for a browser that doesn't support transitions/css3 **/
	position: absolute;
	top:50px;
	left:55%;
	z-index: 50;
	color: #806F52;
	display:block;
	opacity: 1;
	-webkit-animation: lastImage2 2s  0s  1         forwards;
      -moz-animation:  lastImage2 2s  0s  1         forwards;
           animation:  lastImage2 2s  0s  1         forwards;
	}
	
	.startingImage {  /** this class is for Title to be shown after the transitions **/
	position: absolute;	
	top: 0;
	left: 0;
    width:100%;
    height:100%;	
	padding: 0 ;
	z-index: 50;
	opacity: 0;	
	-webkit-animation:  startingImage 27s   1         forwards;
       -moz-animation:  startingImage 27s   1         forwards;
            animation:  startingImage 27s   1         forwards;
        /** animation: <name> <duration> <timing-function> <delay> <iteration-count> <direction> <fill-mode>; **/
	background: url(http://www.setdesign-la.com/redtruck-images/rope.jpg) 0 0 no-repeat;
	}
	
	

/**   -------------------------------- KEYFRAMES FOR FADE SLIDESHOW CONTENT AND TITLE --------------------------------------- **/	
	
@-webkit-keyframes moveTitle {
		0% {
		left: -100%;
	}
	20% {
	left: 55%;
	}
	95% {
	left: 55%;
	}
	
	100% {
		left: 200%;
	}
}
@-moz-keyframes moveTitle {

	0% {
		left: -100%;
	}
	20% {
	left: 55%;
	}
	95% {
	left: 55%;
	}
	
	100% {
		left: 200%;
	}
}
@keyframes moveTitle {
	
		0% {
		left: -100%;
	}
	20% {
	left: 55%;
	}
	95% {
	left: 55%;
	}
	
	100% {
		left: 200%;
	}
}

/** *****************  Content part ************************************/

@-webkit-keyframes moveContent {
	0% {
		left: 100%;
	}
	15% {
	left: 55%;
	}
	95% {
	left: 55%;
	}
	100% {
		left: -100%;
	}
}
@-moz-keyframes moveContent {
   0% {
		left: 100%;
	}
	15% {
	left: 55%;
	}
	95% {
	left: 55%;
	}
	100% {
		left: -100%;
	}
}
@keyframes moveContent {
	
    0% {
		left: 100%;
	}
	15% {
	left: 55%;
	}
	95% {
	left: 55%;
	}
	100% {
		left: -100%;
	}
}

/** ********************************************** default image or text ******************************************************************** **/
@-webkit-keyframes lastImage {
		0% {
		opacity:0;
		-webkit-transition: opacity;
	}
	
	100% {
		opacity: 1;
	}
}

@-moz-keyframes lastImage {

			0% {
		opacity:0;
		-moz-transition: opacity;
		
	}
	
	100% {
		opacity: 1;
	}
}

@keyframes lastImage {
	
			0% {
		opacity:0;
		transition: opacity;
	}
	
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes lastImage2 {
		0% {
		opacity:0;
		-webkit-transition: opacity;
	}
	
	100% {
		opacity: 0;
	}
}

@-moz-keyframes lastImage2 {

			0% {
		opacity:0;
		-moz-transition: opacity;
		
	}
	
	100% {
		opacity: 0;
	}
}

@keyframes lastImage2 {
	
			0% {
		opacity:0;
		transition: opacity;
	}
	
	100% {
		opacity: 0;
	}
}


/** ************************************************ STARTING IMAGE ************************************************** **/

@-webkit-keyframes startingImage {
		0% {
		opacity:1;
		-webkit-transition: opacity;
	}
	   95% {
	   opacity: 1;
	   }
	
	100% {
		opacity: 0;
	}
}

@-moz-keyframes startingImage {

		0% {
		opacity:1;
		-webkit-transition: opacity;
	}
	   95% {
	   opacity: 1;
	   }
	
	100% {
		opacity: 0;
	}
}

@keyframes startingImage {
	
			0% {
		opacity:1;
		-webkit-transition: opacity;
	}
	   95% {
	   opacity: 1;
	   }
	
	100% {
		opacity: 0;
	}
}

/** ************************************************ This is for the Truck in slideshow ************************************************** **/

@-webkit-keyframes slideshow {
	   0% {
		opacity:0;
		-webkit-transition: opacity;
	    }
	   95% {
	   opacity: 0;
	   }
	
	  100% {
		opacity: 1;
	  }
}

@-moz-keyframes slideshow {

		0% {
		opacity:0;
		-webkit-transition: opacity;
	   }
	   95% {
	   opacity: 0;
	   }
	
	  100% {
		opacity: 1;
	  }
}

@keyframes slideshow {
	
		0% {
		opacity:0;
		-webkit-transition: opacity;
	    }
	   95% {
	   opacity: 0;
	   }
	
	  100% {
		opacity: 1;
	  }
}






































































































/** #####################################################################################################################
    touchtouch.css STYLES
	##################################################################################################################### **/


/** The gallery overlay **/

#galleryOverlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	opacity:0;
	z-index:100000;
	background-color:#222;
	background-color:rgba(0,0,0,0.9);
	overflow:hidden;
	display:none;
	
	-moz-transition:opacity 1s ease;
	-webkit-transition:opacity 1s ease;
	transition:opacity 1s ease;
}

/* This class will trigger the animation */

#galleryOverlay.visible{
	opacity:1;
}

#gallerySlider{
	height:100%;
	left:0;
	top:0;
	width:100%;
	white-space: nowrap;
	position:absolute;
	
	-moz-transition:left 0.4s ease;
	-webkit-transition:left 0.4s ease;
	transition:left 0.4s ease;
}

#gallerySlider .placeholder{
	background: url("http://www.setdesign-la.com/redtruck-images/preloader.gif") no-repeat center center;
	height: 100%;
	line-height: 1px;
	text-align: center;
	width:100%;
	display:inline-block;
}

/* The before element moves the
 * image halfway from the top */

#gallerySlider .placeholder:before{
	content: "";
	display: inline-block;
	height: 50%;
	width: 1px;
	margin-right:-1px;
}

#gallerySlider .placeholder img{
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
	border-radius:4px;
	border: 3px solid grey;
	background: #000;
}

#gallerySlider.rightSpring{
	-moz-animation: rightSpring 0.3s;
	-webkit-animation: rightSpring 0.3s;
}

#gallerySlider.leftSpring{
	-moz-animation: leftSpring 0.3s;
	-webkit-animation: leftSpring 0.3s;
}

/* Firefox Keyframe Animations */

@-moz-keyframes rightSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:-30px;}
	100%{	margin-left:0px;}
}

@-moz-keyframes leftSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:30px;}
	100%{	margin-left:0px;}
}

/* Safari and Chrome Keyframe Animations */

@-webkit-keyframes rightSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:-30px;}
	100%{	margin-left:0px;}
}

@-webkit-keyframes leftSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:30px;}
	100%{	margin-left:0px;}
}

/* Arrows */

#prevArrow,#nextArrow{
	border:none;
	text-decoration:none;
	background: url(http://www.setdesign-la.com/redtruck-images/arrows.png) no-repeat;
	opacity:0.5;
	cursor:pointer;
	position:absolute;
	width:43px;
	height:58px;
	
	top:50%;
	margin-top:-29px;
	
	-moz-transition:opacity 0.2s ease;
	-webkit-transition:opacity 0.2s ease;
	transition:opacity 0.2s ease;
}

#prevArrow:hover, 
#nextArrow:hover,
#closeGallery:hover {
	opacity:1;
}

#prevArrow{
	background-position:left top;
	left:1%;
}

#nextArrow{
	background-position:right top;
	right:1%;
}

#closeGallery{    /** JH this was added for styling the close button **/
width: 35px;
height: 35px;
background: url('http://www.setdesign-la.com/redtruck-images/close2.png') no-repeat;
position:absolute;
right: 10px;
top: 5px;
opacity:0.5;
border:none;
text-decoration:none;
cursor:pointer;
position:absolute;
-moz-transition:opacity 0.2s ease;
-webkit-transition:opacity 0.2s ease;
transition:opacity 0.2s ease;
z-index: 99;
}

#imageTitleContainer {       /** JH for styling title in overlay **/
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    margin:0;
	position:relative;
	text-align:center;
	background: #000; 
	padding: 15px 0 15px;
	//opacity:0.4;
    //filter:alpha(opacity=40); /* For IE8 and earlier */
	border-radius:4px;
	font-weight: bold;
	z-index: 98;
}
#imageTitle {
position:realtive;
margin: 0 auto;
background: red;
width: 50%;
}



/** #################################################################################################
    THESE STYLES WERE ADDED FROM THE CSS/STYLES.css file . COMBINED THEM TO MAKE EASIER
	################################################################################################# **/
	




/** ########################################################################################
	NEW TEST HOMEPAGE
	######################################################################################## **/
	
.theWrap {
position:relative;
float:left;
margin:0;
padding:0;
}

.newHeaderContainer {
position: relative;
float:left;
margin: 30px 0 5px;
padding: 0;
width: 100%;
}
.newHeaderWrap {
position: relative;
float:left;
margin:0;
padding:0;
width:100%;
background: #ffffff;
z-index: 5;
}
.newHeader {
position: relative;
margin: 0 auto ;
padding: 10px 0 0;
width: 85%;
background: #ffffff;
z-index: 100;
//height: auto;
background: #ffffff url(http://setdesign-la.com/redtruck-images/menuBorder.png) left bottom repeat-x ; 
}
.newLogo {
position:relative;
margin: 0 auto;
padding: 0;
width: 85%;
font-size: 40px;
font-family: Raleway, sans-serif;
font-weight: 500;
letter-spacing: -2px;
overflow:hidden;
}	
.newLogoContent {
position:relative;
margin: 0;
padding: 38px 0 0 100px;
width: 60%;
font-size: 40px;
font-family: Raleway, sans-serif;
font-weight: 500;
letter-spacing: -2px;
background:  url(http://setdesign-la.com/redtruck-images/rt2.png) -10px 0 no-repeat; 
}


/** #####################################################################
	MENU
	##################################################################### **/
	
.newMenu{
    position:relative; 
	float:left;
	width: 60%;     
	margin: 0 ; 
	padding: 0;
	z-index: 100;
	
}

.newMenu li {
	position: relative;
	float: left; 
	margin: 0; 
	padding: 0;
	list-style: none;
	text-align:left;
	width: auto;

	
}
.newMenu li.first{           /** #main-nav li.left, changed to first with the change of the menu to the block **/
	position: relative;
	float: left;
	margin: 0; 
	padding: 0;
	list-style: none;               
	text-align:center;
	width: auto;
	border-left: none;
	
}
.newMenu li.first a {
padding: 7px 0 20px 5px;
margin: 0 30px 0 0;
}

.newMenu a {
	line-height: 16px;
	font-family: Raleway, sans-serif;
	font-weight:normal;
	font-size:14px;
	color: #000;
	display: block;
	padding: 7px 0 20px;
	margin: 0 30px 0 0;
	text-decoration: none;

}
.newMenu a:hover {
	color: red;
	/* gradient */
	//background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#4f4f4f));
	//background: -moz-linear-gradient(top,  #282828,  #4f4f4f);
	//background: linear-gradient(-90deg, #282828, #4f4f4f);
	//background:#C1B091;
    //opacity:.5;
    //filter: alpha(opacity=25);
	//text-shadow:1px 1px 2px #90775d;
}
.newMenu a.active {
color: #000;
//text-shadow:1px 1px 2px #90775d;
border-bottom: 4px solid #000;
}
 .floatingHeader {
      position: fixed;
      top: 0px;
	  background: #ffffff;
      visibility: hidden;
	 // border: 2px dotted #000;  
	 z-index: 20;
	 
    }

/** *************************************** SEARCH AREA ********************************************************* **/

.newSearch {
position: relative;
float:left;
margin:  0;
padding:0;
width: 40%;
//cursor: pointer;
}
.newSearchText {
position:relative;
float:right;
padding: 5px 10px;
border: 1px solid #c5c2c2;

}
.newSearchBox {
position: relative;
float: right;
padding: 5px 10px;
background: #000;
color: #ffffff;
border: 1px solid #000;
z-index: 901;
}
.newSearchBox a {
text-decoration:none;
color: #ffffff;
font-weight: 300;
}
.newSearchBox a:hover {
opacity: .5;
}

#panel {                    /** container holding panel categories for fancybox **/
     background: none repeat scroll 0 0 ;
    display: none;
    float: left;
    //height: 200px;
    position: relative;
   // top: 58px;
    width: 100%;
	z-index: 9000;
	}
	
.panelCat {                   /** div inside panel for fancybox **/
position:relative;
float:left;
margin: 0 5px;
width: 24%;
}
.panelCat:hover {
opacity: .8;
}
.innerPanel {                /** div inside panelCat, right above **/
position:absolute;
top:0;
margin:0;
padding: 10px 1%;
width: 98%;
text-align:center;
font-weight: bold;
font-size: .875em;
background: #000;
color: #ffffff;
}
.fancybox-outer {
background: transparent !important;
border-radius: none !important;
box-shadow: none !important;
}
 .fancybox-close {
right: 0px !important;
}


/** *********************************** body structure ************************************************* **/
.newWrapper {
position: relative;
float:left;
margin:0;
padding:0;
width: 100%;
}
.newContainer {
position: relative;
margin:25px auto 0;
padding:0;
width: 85%;
}
.newOne {
position:relative;
float:left;
margin: 90px 0 0;
padding: 0;
width: 50%;
height: 300px;
background:  url(http://setdesign-la.com/redtruck-images/rope.jpg) 0 0 no-repeat; 
}
.newTwo {
position:relative;
float:left;
margin: 90px 0 0 1%;
padding: 0 ;
width: 49%;
}
.newContainer .newTwo h1 {
margin: 0 0 10px;
border-bottom: 1px dotted #C5C2C2;
padding: 0 0 10px;
font-size: 30px;
}
.newContainer h1 {
margin: 0 0 60px;
border-bottom: 1px dotted #C5C2C2;
padding: 0 0 10px;
font-size: 30px;
}

.newThree {
position: relative;
float:left;
margin:0;
padding: 50px 0 0;
width: 100%;
}
.newFour {
position:relative;
float:left;
margin:90px 0 0;
padding: 0;
width: 29%;
height: 200px;
background:  url(http://setdesign-la.com/redtruck-images/woodBG.jpg) 0 0 repeat-x;
}
.newFive {
position:relative;
float:left;
margin:85px 0 0;
padding:0 0 0 3%;
width: 67%;
height: 200px;
}
.newContainer .newFive h1 {
text-align: left;
margin:0;
padding: 0;
}
.newFive p {
position:relative;
//float:left;
margin:20px 0 0;
padding:0;
//width:33%;
font-size: .875em;
font-weight: 500;
}
.newFive p a {
font-size: .9em;
color: #000;
}
.newFive p span {
position:relative;
font-weight: bold;
width:100%;
text-align: center;
color: #000;
}


/** ***************** footer *********************************** **/
.newFullContainer {
position: relative;
float:left;
margin: 50px auto 0;
padding:0;
width: 100%;
height: 300px;
background: #000;
}
.newPropContainer {
position: relative;
margin:50px auto 0;
padding:0 0 10px;
width:100%;
height:40px;
border-bottom: 1px dotted #333333;
}
.propContainer {
position:relative;
margin: 0 auto;
padding:0;
width:60%;
}
.propHolder {
position:relative;
margin: 0 auto;
width:300px;
}


.propImage {
border: 1px solid #AEA470;
color: #AEA470;
float: left;
height: 25px;
margin: 0;
position: relative;
}
.propContent {
color: #AEA470;
float: left;
font-size: 12px;
margin: 0;
padding: 5px 0 0 5px;
position: relative;
}

.newBottomMenuContainer {
border-bottom: 1px dotted #333333;
    height: 30px;
    margin: -15px auto 0;
    padding: 0;
    position: relative;
    width: 600px;
}
.newFootMenu {
position: relative;
float: left;
margin:0;
padding:0 0 0 30px;
width: 70px;
color: #AEA470;
}
.newFootMenu a {
color: #AEA470;
font-size: 12px;
font-weight: 400;
}
.newHome {
background: url("http://www.setdesign-la.com/redtruck-images/home2.png") no-repeat scroll 0 center transparent;
margin: 0 0 0 50px;
}
.newAbout {
background: url("http://www.setdesign-la.com/redtruck-images/services2.png") no-repeat scroll 0 center transparent;
}
.newContact {
background: url("http://www.setdesign-la.com/redtruck-images/contact2.png") no-repeat scroll 0 center transparent;
}
.newWork {
background: url("http://www.setdesign-la.com/redtruck-images/gallery2.png") no-repeat scroll 0 center transparent;
}
.newSiteMap {
background: url("http://www.setdesign-la.com/redtruck-images/siteMap.png") no-repeat scroll  0  center transparent;
}

.newFullContainer .logIn {
position:relative;
//float:right;
color: #AEA470;
text-align:center;
font-size: 11px;
}
.newFullContainer .logIn a {
color: #AEA470;
font-size: 12px;
}
.newFullContainer .copyright {
position:relative;
//float: left;
color: #AEA470;
text-align:center;
font-size: 11px;
}


@media screen and (max-width: 1024px) {
.newBottomMenuContainer {
    padding: 0;

   }

}
@media screen and (max-width: 650px) {
.newBottomMenuContainer {
    padding: 0;
    border: none;
   }

}
















	
	
	
	
	
	
	
	
	
	
	
	