/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
   font-size:14px;
   //color:#806F52;
}

img, fieldset {
	border: 0;
}

/* set image max width to 100% */
img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto; /* ie8 */
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/** ********************************************************************************
Background Colors
************************************************************************************ **/
.blue {
background: #4082bb;
-webkit-box-shadow: 0 0 50px 10px #2e71ab inset;
-moz-box-shadow:    0 0 50px 10px #2e71ab inset;
box-shadow:         0 0 50px 10px #2a5a83 inset;

}
.red{
background: #bb4e40;
-webkit-box-shadow: 0 0 50px 10px #981605 inset;
-moz-box-shadow:    0 0 50px 10px #981605 inset;
box-shadow:         0 0 50px 10px #981605 inset;
}
.grey {
background: #dfddd8;
-webkit-box-shadow: 0 0 50px 10px #cbc9c5 inset;
-moz-box-shadow:    0 0 50px 10px #cbc9c5 inset;
box-shadow:         0 0 50px 10px #a6a5a2 inset;
}
.orange {
background: #e9ad45;
-webkit-box-shadow: 0 0 50px 10px #db9b2d inset;
-moz-box-shadow:    0 0 50px 10px #db9b2d inset;
box-shadow:         0 0 50px 10px #d28602 inset;
}
.green {
background: #7a9f22;
-webkit-box-shadow: 0 0 50px 10px #49630a inset;
-moz-box-shadow:    0 0 50px 10px #49630a inset;
box-shadow:         0 0 50px 10px #49630a inset;
}
.yellowImage {
background: #f1e239 url(http://www.setdesign-la.com/redtruck-images/yellowImage.jpg) repeat 0 0;
}
.yellow{
//-webkit-box-shadow: 0 0 50px 10px #a69a12 inset;
//-moz-box-shadow:    0 0 50px 10px #a69a12 inset;
//box-shadow:         0 0 50px 10px #a69a12 inset;
background: #f1e239 url(http://www.setdesign-la.com/redtruck-images/woodBG.jpg) repeat 0 0;
}
.black {
background: #000000;
}


/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
	
   background: #b29f7f url(http://setdesign-la.com/redtruck-images/background.jpg) repeat;
	font: 14px Arial, Helvetica, sans-serif;
	color: #666;
	//color:blue;
	
}
a {
	color: #2e5378;
	text-decoration: none;
	outline: none;
	font-weight:bold;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0;
	padding: 0;
}

/* list */
ul, ol {
	margin:0;
	padding: 0;
	line-height: 1em;
}
li {
	margin:0;
	padding: 0;
}

/* headings */
h4 {
color:#000;
font-size: 16px;
font-weight:bold;
}
h1 {
font-size: 22px;
color:#000;
}


/* reset webkit search input styles */
input[type=search] {
	-webkit-appearance: none;
	outline: none;
}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/

#pagewrapRT {
	width: 100%;
	margin: 0 auto 0 auto;
}
.pageBorderRT {
background: url(http://setdesign-la.com/bagelmania-images/latteralBorder.png)  0 0 repeat-x;
height: 5px;
width: 100%;
padding:0;
margin: 0;
position:relative;
}

/************************************************************************************
HEADER
*************************************************************************************/
#headerContainerRT {
     position:fixed;
	 height: 57px;
     width:100%;
    /** -webkit-box-shadow: 0 3px 30px #645740; **/
	/** -moz-box-shadow: 0 3px 30px #645740;    **/
	/** box-shadow: 0 3px 30px #645740;         **/
    background: url(http://setdesign-la.com/redtruck-images/nav-bg.jpg) 0 0 repeat-x ;	
	z-index: 500;
	border-top: 1px solid #000000;
	top:0;
    behavior:url(http://setdesign-la.com/bagelmania-devel/sites/all/themes/zen/ashly/css/PIE.htc);
}

#topBarRT {
position:absolute;
top:0;
left:0;
width:100%;
height:10px;
margin:0;
padding:0;
background:  #14506f; /* #9a9579; */
//-webkit-box-shadow: 0 3px 30px #000000;
	-moz-box-shadow: 0 3px 30px #000000;
	//box-shadow: 0 3px 30px #000000;
	behavior:url(http://setdesign-la.com/bagelmania-devel/sites/all/themes/zen/ashly/css/PIE.htc);
}
#redtruckLogo {
position:absolute;
width: 117px;
height:40px;
padding: 3px 3px 3px 6px;
top:0;
left:0;
}


#headerRT {
	position:relative;
	width: 100%;
    padding:  8px 0 0;
	margin: 0 auto  ;	
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
#menu-icon {
	display: none; /* hide menu icon initially */
}
#main-navRT{
	width: 40%;       /** JH- changed 980px **/
	height: 30px;
	position:relative;   /** JH- added **/
	margin: 0 auto 10px auto; 
	padding: 3px 0;
	z-index: 100;
	/* rounded corner */
	//-webkit-border-radius: 8px;
	//-moz-border-radius: 8px;
	//border-radius: 8px;
	/* box shadow */
	//-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	//-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	//box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	//background: url(http://setdesign-la.com/bagelmania-images/menuBorder2.png) ;
}

#main-navRT li {
	margin: 0; 
	padding: 0;
	list-style: none;
	float: left;               
	position: relative;
	text-align:center;
	width: 20%; // 193px;
	//background:#806F52;
	border-left: 1px solid #59432d;
	
}
#main-navRT li.first{           /** #main-nav li.left, changed to first with the change of the menu to the block **/
	margin: 0; 
	padding: 0;
	list-style: none;
	float: left;               
	position: relative;
	text-align:center;
	width: 19%;
	border-left: none;
	
}

#main-navRT a {
	line-height: 16px;
	font-weight: bold;
	font-family: arial;
	font-weight:bold;
	font-size:14px;
	color: #ffffff;
	display: block;
	padding: 7px 15px;
	text-decoration: none;
	//background:#806F52;	
	text-shadow:1px 1px 2px #1d160e;
}
#main-navRT a:hover {
	color: #000000;
	/* gradient */
	//background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#4f4f4f));
	//background: -moz-linear-gradient(top,  #282828,  #4f4f4f);
	//background: linear-gradient(-90deg, #282828, #4f4f4f);
	//background:#C1B091;
    opacity:.5;
    filter: alpha(opacity=25);
	font-weight:bold;
	text-shadow:1px 1px 2px #90775d;
}
#main-navRT a.active {
color: #000;
opacity:.5;
text-shadow:1px 1px 2px #90775d;
font-weight: bold;
}

/************************************************************************************
CONTENT
*************************************************************************************/


/***************************************************
content1
**************************************************** **/
.content1 {
   position:relative;
   float: left;
   margin:  150px  0 30px;  
   padding: 0 0 15px;
   width: 100%;         /* JH was 600px; , 16px added for border */
  // background: url(http://www.setdesign-la.com/redtruck-images/side-border.png) 0 bottom repeat-x;
}
.content1-one {
position: relative;
margin: 0 auto;
width: 60%;
//border-left: 1px dotted #806F52;
//border-right: 1px dotted #806F52;

}

/** *************************************************
content2
**************************************************** **/
.content2 {
   position:relative;
   float: left;
   margin:  10px  0 30px;  
   padding: 0;
   width: 100%;        
}
.content2-one {        /** contains boxes **/
   position:relative;
   margin:  0 auto;  
   padding: 0;
   width: 60%; 
   height: 500px;  
}
.content2 .ourServices {
  position:relative;
  margin: 65px auto 65px auto;
  padding:5px 1% 5px ;
  width:58%;
  color: #806F52; 
  font-size: 25px;
  border-bottom: 1px dotted #806F52;
  -webkit-box-shadow: 0 4px 5px -5px #645740;
  -moz-box-shadow:    0 4px 5px -5px #645740;
   box-shadow:        0 4px 5px -5px #645740;
}
.content2 .shortBox {
   position:relative;
   float: left;
   margin: 0% 1% 1% 0 ;  
   padding: 0;
   width: 32.3%;
   height: 32.3%;
}
.content2 .shortBoxLast {
   position:relative;
   float: left;
   margin: 0% 0% 1% 0 ;   
   padding: 0;
   width: 33.3%;
   height: 32.3%;
   
}
.content2 .longBox {
   position:relative;
   float: left;
   margin: 0% 1% 1% 0 ;   
   padding: 0;
   width: 65.6%;
   height: 32.3%;
   
}
.content2 .longBoxLast {
   position:relative;
   float: left;
   margin: 0% 0% 1% 0 ;   
   padding: 0;
   width: 66.4%;
   height: 32.3%;  
}
.content2 .longBoxLast:hover,
.content2 .longBox:hover ,
.content2 .shortBoxLast:hover,
.content2 .shortBox:hover {
    opacity:.5;
    filter: alpha(opacity=25);
}



.shortBox p,
.longBox p {
margin:5px 10px 0 5px;
padding: 10px 0 10px 10px;
width:150px;
color: #000;
font-size: 13px;
font-weight:bold;
//background: url(http://www.setdesign-la.com/redtruck-images/transparentWhite.png) 0 0 repeat;	
}
.shortBox h1,
.longBox h1{
margin:0;
padding:10px 0 0 10px;
color: #f5ecdc;
font-size: 16px;
text-shadow: 1px 1px 2px #1d160e;
}
.shortBoxLast p,
.longBoxLast  p{
margin:5px 10px 0 5px;
padding: 10px 0 10px 10px;
width:150px;
color: #000;
font-size: 13px;
font-weight:bold;
//background: url(http://www.setdesign-la.com/redtruck-images/transparentWhite.png) 0 0 repeat;
}
.shortBoxLast h1,
.longBoxLast  h1{
margin:0;
padding:10px 0 0 10px;
color: #ffffff;
font-size: 16px;
text-shadow:1px 1px 2px #1d160e;
}
h1.blackBackground 
{
color: #ffffff;
}



.content2-two {
   position:relative;
   margin:  10px auto;  
   padding: 0;
   width: 60%; 
   height: 150px;  
}
.content2 .clients {
   position:relative;
   float: left;
   margin: 0% 1% 1% 0 ;    
   padding: 25px 1%;
   width: 22%;
   height: 25px;
   font-family: Arial;
   font-size:16px;
   //line-height:16px;
   text-align:center;
}
.content2 .clientsLast {
   position:relative;
   float: left;
   margin: 0% 0% 1% 0 ;  
   padding: 25px 1%;
   width: 23%;
   height: 25px;
   font-family: Arial;
   font-size:16px;
  // line-height: 75px;
   text-align:center;
}
.content2 .contact {
  position:relative;
  margin: 10px auto;
  padding:5px 0 5px;
  width: 60%;
  color: #806F52; 
  //font-size: 25px;
}

/***************************************************
content3
**************************************************** **/

.content3 {
   position:relative;
   float: left;
   margin:  10px  0 30px;  
   padding: 0;
   width: 100%;         /* JH was 600px; , 16px added for border */
   //min-height: 1436px;
   background:#c1b091 ;    /* #a5916f;  */
   border: 8px solid #cbbca1 ; /* #B29F7F; */
}
.content4 {
   position:relative;
   float: left;
   margin:  10px  0 30px;  
   padding: 0;
   width: 100%;         /* JH was 600px; , 16px added for border */
   //min-height: 1436px;
   background:#c1b091 ;    /* #a5916f;  */
   border: 8px solid #cbbca1 ; /* #B29F7F; */
}
.contentBorder {
background: url(http://setdesign-la.com/bagelmania-images/latteralBorder.png)  left bottom repeat-x;
height: 5px;
width: 100%;
padding:0;
margin: 0 0 15px;
position:relative;
}
#middleContainer {
position:relative;
float:left;
width: 100%;
margin: -15px 0 0;
padding:25px 0 ;
background: url(http://setdesign-la.com/bagelmania-images/latteralBorder.png) left top repeat-x,
            url(http://setdesign-la.com/bagelmania-images/latteralBorder.png)  left bottom repeat-x;

}
#middleContainer h2 {
margin:-10px 0 25px 0;
padding:0;
text-align:center;
font-family: Bowlby One Sc,Arial, Helvetica, sans-serif;
font-size: 22px;
color: #CD853F;
background: #806F52;
}

#leftContent {
position:relative;
float:left;
width:50%;
height:100%;
margin: 0 0 0 0;
padding: 0;
//-moz-box-shadow:    inset 0 0 30px #00000;
//-webkit-box-shadow: inset 0 0 30px #000000;
//box-shadow:         inset 0 0 50px #000000;
}
#leftContent img {
padding:0;
margin:0;
border: 2px solid;
}
#rightContent {
position:relative;
float:left;
width:36%;
padding:0 2% 0 10%;
height:100%;
margin: 0 0 0 0;
   //background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ee161c), to(#5e1b16));
   //background-image: -webkit-linear-gradient(top, #ee161c, #5e1b16);
   //background-image: -moz-linear-gradient(top, #ee161c, #5e1b16);
   //background-image: -ms-linear-gradient(top, #ee161c, #5e1b16);
   //background-image: -o-linear-gradient(top, #ee161c, #5e1b16);
   // -pie-background: linear-gradient(#C0D9D9, #2F4F4F);
   behavior:url(http://setdesign-la.com/bagelmania-devel/sites/all/themes/zen/ashly/css/PIE.htc);
  
}
#rightContent h3 {
text-decoration: underline;
text-align:left;
font-family: Bowlby One Sc, Arial;
font-size: 22px;
color:#fff;
margin:0;
padding:0;
}
#rightContent p {
color: #806F52;
text-align:left;
padding: 15px 0 0 0;
word-wrap: break-word;
font-weight:bold;
}
#content .bottomHeader {
font-family: Bowlby One Sc, Arial;
font-size: 25px;
text-align:center;
color:#806f52;
padding: 10px 0 0;
}

/* post */
.post {
	margin-bottom: 20px;
}
.post-title {
	margin: 0 0 5px;
	padding: 0;
	font: bold 26px/120% Arial, Helvetica, sans-serif;
}
.post-title a {
	text-decoration: none;
	color: #000;
}
.post-meta {
	margin: 0 0 10px;
	font-size: 11px;
}

/* post image */
.post-image {
	margin: 0 0 15px;
}
.facebookWidget {
position: absolute;
margin:0 0 20px;
padding:0;
bottom:0;
border:8px solid #A99878;
}
.homefacebook       {   /** this is for the home page **/
position: relative;
float:left;
margin:0 0 20px;
padding:0;
bottom:0;
border:8px solid #A99878;
//width:292px;
}
p.face {
position:relative;
float:left;
//border-left: 8px solid #A99878;
height: 290px;
margin:0;
padding: 0 0 0 15px;
color: #2E5378;
font-size: 25px;
width: 40%;
line-height: 25px;
background: url(http://www.setdesign-la.com/bagelmania-images/arrow-facebook.png) center 125px no-repeat;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
#sidebar {
	width: 253px; /*280px;*/
	float: right;
	margin: 10px 0 30px; 
	padding: 0 0 0 27px;
	background: url(http://setdesign-la.com/bagelmania-images/sidebarBorder.png)  left top repeat-y ;
}
.widgetBorder {
background: url(http://setdesign-la.com/bagelmania-images/latteralBorder.png)  0 0 repeat-x;
height: 5px;
width: 100%;
position:relative;
}
.widget {
	background:#c1b091 ;    /* #a5916f;  */
	border: 8px solid #cbbca1 ; /* #B29F7F; */
	margin: 15px 0 15px ;
	padding: 10px 20px;
	/* rounded corner */
	//-webkit-border-radius: 8px;
	//-moz-border-radius: 8px;
	//border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	behavior:url(http://setdesign-la.com/bagelmania-devel/sites/all/themes/zen/ashly/css/PIE.htc);
}
.widgetend {
margin: 15px 0 0;
}
.widgetLast{
	margin: 15px 0 0;	background:#c1b091 ;    /* #a5916f;  */
	border: 8px solid #cbbca1 ; /* #B29F7F; */
	margin: 15px 0 0 ;
	padding: 10px 20px;
	/* rounded corner */
	//-webkit-border-radius: 8px;
	//-moz-border-radius: 8px;
	//border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	behavior:url(http://setdesign-la.com/bagelmania-devel/sites/all/themes/zen/ashly/css/PIE.htc);
	min-height: 546px;
}
.topColumnWidget {
	background:#c1b091 ;    /* #a5916f;  */
	border: 8px solid #cbbca1 ; /* #B29F7F; */
	margin: 0 0 15px ;
	padding: 0 5px;
        text-align:center;
	/* rounded corner */
	//-webkit-border-radius: 8px;
	//-moz-border-radius: 8px;
	//border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	behavior:url(http://setdesign-la.com/bagelmania-devel/sites/all/themes/zen/ashly/css/PIE.htc);
}
.social a {
text-decoration: none;
}
.social img:hover { /** this is for ie8-9 **/
opacity:.5;
filter: alpha(opacity=25);
}
.social a:hover {
opacity:.5;
filter: alpha(opacity=25);
}

.widgettitle {
    background: none repeat scroll 0 0 #A99878;
    border-bottom: 1px solid grey;
    margin: 0 0 5px;
    padding: 0 0 0 5px;
}
.widget ul {
	margin: 0;
	padding: 0;
}
.widget li {
	margin: 0;
	padding: 6px 0;
	list-style: none;
	clear: both;
	border-bottom: solid 1px grey;
}

/* flickr widget */
.widget .flickr_badge_image {
	margin-top: 10px;
}
.widget .flickr_badge_image img {
	width: 48px;
	height: 48px;
	margin-right: 12px;
	margin-bottom: 12px;
	float: left;
}
li.yelp a{
background: url(http://setdesign-la.com/bagelmania-images/yelp.png)       left center no-repeat ;
padding: 0 0 0 65px;
display:block;
//width:100%;
line-height: 17px;
}
li.us a {
background: url(http://setdesign-la.com/bagelmania-images/urbanspoon.png) left center no-repeat ;
padding: 0 0 0 65px;
display:block;
line-height: 17px;
}
li.zagat a {
background: url(http://setdesign-la.com/bagelmania-images/zagat.png)      left center no-repeat ;
padding: 0 0 0 65px;
display:block;
line-height: 17px;
}
li.tripadvisor a {
background: url(http://setdesign-la.com/bagelmania-images/tripadvisor.png)      left center no-repeat ;
padding: 0 0 0 65px;
display:block;
line-height: 17px;
}
li.yelp a:hover,
li.us a:hover,
li.zagat a:hover,
li.tripadvisor a:hover {
opacity: .25 ;
filter: alpha(opacity=25);
}
/************************************************************************************
Location-pdf
*************************************************************************************/
.location-pdf{
position:relative;
float:left;
width: 100%;
margin: 0 ;
}

.location {
background:#c1b091 ;    /* #a5916f;  */
border: 8px solid #cbbca1 ; /* #B29F7F; */
position:relative;
float:left;
width:44%;
height:250px;
margin:0;
padding:20px 2%;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
box-shadow: 0 1px 3px rgba(0,0,0,.4);
behavior:url(http://setdesign-la.com/bagelmania-devel/sites/all/themes/zen/ashly/css/PIE.htc);


}
.location img {
text-align:center;
padding:0;
margin:10px 0 0;
}
.location img a {
}
.location  a:hover {
opacity:.25;
filter: alpha(opacity=25);
}

.pdfBottom{
background:#c1b091 ;    /* #a5916f;  */
border: 8px solid #cbbca1 ; /* #B29F7F; */
position:relative;
float:left;
width:44%;
height:250px;
margin: 0 0 0 .5%;
padding:20px 2%;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	behavior:url(http://setdesign-la.com/bagelmania-devel/sites/all/themes/zen/ashly/css/PIE.htc);

}
.location-pdf h4 {
font-size: 20px;
margin: 0 0 5px;
padding:0 0 0 10px;
background:none repeat scroll 0 0 #A99878;
border-bottom: 1px solid grey;
}
.pdfBottom  li {
list-style:none;
border-bottom: 1px solid;
margin:0;
padding: 6px 0;
clear: both;
display:block;
}
.pdf li a {
display:block;
}
/** Location page styles **/
#Left {
margin:0;
padding:0;
}
#Right {
margin:0;
padding:0;
}
table.gadget span.powered a:hover, table.gadget span.powered a:visited, table.gadget span.powered a:active, table.gadget span.powered {
display:none;
}


/************************************************************************************
POLL
*************************************************************************************/
.pollQuestion {
position:relative;
float:left;
width: 100%;
//border-top: 1px dotted #806f52;
//border-bottom: 1px dotted #806f52;
margin: 0 ;
padding:25px 0 15px ;
//background: blue;
}
.pollQuestion img {     /** this is for the images where the poll used to be **/
float:left;
width:21%;
padding: 0;
margin: 0 2% 0;
}
.pollQuestion .poll {
background:#c1b091 ;    /* #a5916f;  */
border: 8px solid #cbbca1 ; /* #B29F7F; */
position:relative;
float:left;
text-decoration: none;
font-size: 12px;
line-height: 13px;
color: #66635e;
width: 98%;          /**JH was 91% **/
//height: 125px;
margin:0 3% 0 0;
padding:15px 0;  // JH was 2% 5% 2% 2%;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
box-shadow: 0 1px 3px rgba(0,0,0,.4);
behavior:url(http://setdesign-la.com/bagelmania-devel/sites/all/themes/zen/ashly/css/PIE.htc);

}
.pollQuestion  h2.block-title {
display:none;
}
.pollQuestion  li.first {
display: none;
}
.poll .title {
color: #000;
font-family: Bowlby One Sc,Arial, Helvetica, sans-serif;
font-size: 20px;
padding:0 0 20px;
}
.poll .text {
color: #806F52;
padding: 0 0 5px;
font-weight:bold;
}
a.voteHere {
position:absolute;
top:10px;
right:10px;
background: url(http://setdesign-la.com/bagelmania-images/voteHere.png)      left center no-repeat ;
padding: 0 0 0 55px;
width:100px;
height:50px;
line-height:50px;
font-size:14px;
text-decoration:none;
color:#000;
}
a.voteHere:hover {
opacity: .50;
filter: alpha(opacity=50);
}
li.comment_forbidden  {   /** gets rid of links at bottom of poll display on poll node **/
display:none;
}
.poll 
.vote-form 
.choices .title {
font-weight:normal;
}
.poll 
.vote-form 
.choices  {
margin:0;
padding:0;
}
#edit-vote--2 .form-submit {
text-align:left;
}
.poll .vote-form { /** alignment for users havent voted **/
text-align:left;
}
#pagewrap .tabs {  /** links below poll for users that haven't voted **/
display:none;
}
ul.links  {   /** links below poll for users that haven't voted **/
display:none;
}
.vote-form {
background: url(http://setdesign-la.com/bagelmania-images/plainBagel.jpg) right top no-repeat;
}
/************************************************************************************
FOOTER
***************************************************************************************/
.topFooter {
position:relative;
float:left;
width: 100%;
margin: 0 ;
padding: 0 0 15px ;
}

.topFooter .wholesale,
.topFooter .donations,
.topFooter .contact {
//background:#c1b091 ;    /* #a5916f;  */
border: 8px solid #cbbca1 ; /* #B29F7F; */
position:relative;
float:left;
text-decoration: none;
font-size: 90%;
line-height: 1.3em;
color: #66635e;
width: 21%; 

height: 165px;
min-height: 165px;
margin:0 3% 0 0;
background: #C1B091;
//padding:2% 5% 2% 2%;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	behavior:url(http://setdesign-la.com/bagelmania-devel/sites/all/themes/zen/ashly/css/PIE.htc);

}
.topFooter .about {   /** this box is seperate because it is the last one, no margin-right **/
//background:#c1b091 ;    /* #a5916f;  */
border: 8px solid #cbbca1 ; /* #B29F7F; */
position:relative;
float:left;
text-decoration: none;
font-size: 90%;
line-height: 1.3em;
color: #66635e;
width: 21%; 
min-height: 165px;
height: 165px;
margin:0;
background: #C1B091;
//padding:2% 5% 2% 2%;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	behavior:url(http://setdesign-la.com/bagelmania-devel/sites/all/themes/zen/ashly/css/PIE.htc);
}

.topFooter h3 {
     background: -moz-linear-gradient(center top , #EE161C, #5E1B16) repeat scroll 0 0 #EE161C;
	background-image: -webkit-linear-gradient(top, #ee161c, #5e1b16);
   //background-image: -moz-linear-gradient(top, #ee161c, #5e1b16);
   background-image: -ms-linear-gradient(top, #ee161c, #5e1b16);
   background-image: -o-linear-gradient(top, #ee161c, #5e1b16);
    color: #ffffff;
    font-family: Arial;
    font-size: 155%;
    margin: 0;
    max-width: 100%;
    padding: 5px 2%;
    text-align: center;
}
.topFooter p {
font-size: 92%;
padding:10px;
line-height: 1.3em;
}

a.wholesale:hover{
background: #FFF68F url(http://setdesign-la.com/bagelmania-images/b.png) right bottom no-repeat;
color:#000000;
}
a.donations:hover{
background: #EE9A49 url(http://setdesign-la.com/bagelmania-images/b.png) right bottom no-repeat ;
color:#000000;
}
a.contact:hover{
background: #AEBB51 url(http://setdesign-la.com/bagelmania-images/b.png) right bottom no-repeat;
color:#000000;
}
a.about:hover{
background: #ADD8E6 url(http://setdesign-la.com/bagelmania-images/b.png) right bottom no-repeat ;
color:#000000;
}
#footer {
	clear: both;
	color: grey;
	font-size: 11px;
	//border-top: 1px dotted #CDCDCD;
	padding: 15px 0 0 0;
}
#footer a {
	color: grey;
	font-size: 11px;
}
#footer p {
position:relative;
float:left;
font-size: 11px;
margin: 0 0 10px;
}
#footer .logIn  {
position:relative;
float:right;
right: 5px;
}
#footer ul {
float:right;
margin:0;
padding:0;
}
#footer .fancybox {
display:block;
}






/***********************************************************************************************
FORM STYLES
**********************************************************************************************/
.col1 .marker, .form-required {  /** this styles the asterisk next to required fields **/
    color: #085B7A;
}
.form-textarea-wrapper textarea { /** this is to change width of text area in  Contact webform **/
    -moz-box-sizing: border-box;
    display: block;
    margin: 0;
    width: 53%;
	height:150px;
	padding: 10px 10px;
    border-radius: 3px 3px; 
   -moz-border-radius: 3px; 
   -webkit-border-radius: 3px;
    background-color: transparent;
    -moz-box-shadow:    inset 0 0 10px #A99878;
	-webkit-box-shadow: inset 0 0 10px #A99878;
	box-shadow:         inset 0 0 10px #A99878;
   color:grey;
   background: none;
   border: 1px solid #000000;
  // behavior:url(http://setdesign-la.com/bagelmania-devel/sites/all/themes/zen/ashly/css/PIE.htc);
}
.form-textarea-wrapper textarea:hover {
border: 1px solid grey;
}
.form-textarea-wrapper textarea:focus {
outline:none;
border: 1px solid #fff !important;
}
.resizable-textarea .grippie {   /****** this is for the re-sizing widget in the text area in  Contact webform **************/
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none;
	position:relative;
    border-color:none;
    border-style:none;
    border-width: none;
    cursor: s-resize;
    height: 9px;
    overflow: hidden;
	width:80%;
}

input.form-text{
text-align:left;
background: transparent;
width: 50%;
padding:0 10px;
margin:0;
float:left;
line-height: 35px;
height:35px;
color:grey;
border: 1px solid #000000;
   -moz-box-shadow:    inset 0 0 10px #A99878;
	-webkit-box-shadow: inset 0 0 10px #A99878;
    box-shadow:         inset 0 0 10px #A99878;
    border-radius: 3px 3px; 
   -moz-border-radius: 3px; 
   -webkit-border-radius: 3px;
    //behavior:url(http://setdesign-la.com/bagelmania-devel/sites/all/themes/zen/ashly/css/PIE.htc);
   
}
input.form-text:hover {
border: 1px solid grey;
}
input.form-text:focus {
outline:none;
border: 1px solid #fff !important;
}
 label {
text-align:left;
padding: 30px 0 10px 0;
font-weight:normal;
}
 .form-submit {
background: #806F52;
border:2px solid #CBBCA1;
cursor:pointer;
border-radius: 3px 3px 3px 3px;
//box-shadow: 0 0 10px #000000 inset;
padding: 3px 5px;
}
 .form-submit:hover {
background: #CBBCA1;
border: 2px solid #806F52;
}
 /********* this is used for the login page, .jamesLogin class is on page--1 *****/
.jamesLogin .form-item label {
color: grey;
    display: block;
    font-weight: bold;
    text-align: left;
	clear:both;
}
.jamesLogin .item-list ul {
margin: 55px 0 0;
list-style:none;
padding:0;
}
.jamesLogin .item-list ul li {
padding:0;
margin:0;
}
.jamesLogin .form-submit {
background: #806F52;
border:2px solid #CBBCA1;
cursor:pointer;
border-radius: 3px 3px 3px 3px;
//box-shadow: 0 0 10px #000000 inset;
padding: 3px 5px;
}
.jamesLogin .form-submit:hover {
background: #CBBCA1;
border: 2px solid #806F52;
}

.jamesLogin .form-actions {
margin: 55px 0 0;
text-align: left;
}

/*********************************************************************
wholesale styles
********************************************************************/
.wholesale-font{
margin:0;
padding:0;
text-align:left;
}
.wholesale-font b  {
color:#000000;
font-family: Arial;
font-size: 15px;
}
.wholesale-page {
margin:25px 0 0;
padding:0;
text-align:center;
}
.section-wholesale  h1 {
text-align:center;
}
.wholesale-page img {
margin:0 auto;
}
 .page-node-11 #content article.post img {  /** this is to center image and text on wholesale page **/
 float:none;
 text-align: center;
 clear:both;
 }
 .page-node-11 .facebookWidget {   /** this will take away facebook widget on wholesale page **/
 display:none;
 }
 
/********************************************************************************
contact-us styles
*******************************************************************************/
.contact-img {
position:absolute;
margin:0;
padding:0;
top:30px;
left:220px;
}
/********************************************************************************
enter-here styles     **** this is for the actual banner on the right column and the page 'enter-here'
*******************************************************************************/
#sidebar #put-here {
position:relative;
z-index:80;
//margin:-15px 0 0 -20px;
}
#put-here a{
text-decoration:none;
}
#put-here a:hover {
opacity:.5;
filter: alpha(opacity=25);
}
#put-here img:hover{
opacity:.5;
filter: alpha(opacity=25);
}
#put-here a {
    display: block;
    height: 100%;
    text-decoration: none;
    width: 100%;
}
.enter-img {
position:absolute;
margin:0;
padding:0;
top:30px;
left:180px;
}
/*******************************************************************************************
Menu Page
******************************************************************************************/
#Gallery.bagelMenuTable {
position:relative;
float:left;
width:100%;
margin: 30px 0 25px 0;
}
#Gallery .menuBlock {
position:relative;
float:left;
height: 100px;
margin:0;
padding:0;
background: none repeat scroll 0 0 #CBBCA1;
border:none;
border-right: 1px solid  #A99879;
border-radius: 0; 
-moz-border-radius: 0; 
-webkit-border-radius:0;
}

#Gallery a.menuBlock {
text-decoration:none;
text-align:center;
display:block;
color:#806F52;
font-weight:bold;
height:100px;
line-height:100px;
width:20%;
border-radius: 0; 
   -moz-border-radius: 0; 
   -webkit-border-radius: 0;
}
#Gallery .lastMenu{
position:relative;
float:left;
height: 100px;
margin:0;
padding:0;
background: none repeat scroll 0 0 #CBBCA1;
border: none;
border-radius: 0; 
   -moz-border-radius: 0; 
   -webkit-border-radius: 0;
}

#Gallery a.lastMenu{
text-decoration:none;
text-align:center;
display:block;
color:#806F52;
font-weight:bold;
height:100px;
line-height:100px;
width:19%;
border: none;
border-radius: 0; 
   -moz-border-radius: 0; 
   -webkit-border-radius: 0;
}


#Gallery a.menuBlock:hover,
#Gallery a.lastMenu:hover
{
text-decoration:underline;
//opacity:.5;
//filter: alpha(opacity=25);
background: #EBE5E5;
}
#Gallery a.menuBlock:after,
#Gallery a.lastMenu:after {
display:none;
}

/************************************ THIS IS FOR FANCYBOX ON MENU PAGE  ********************************************************/
.fancy .bagelMenuTable  {
position:relative;
float:left;
width:100%;
margin: 30px 0 25px 0;
}
.fancy .fancyMenu{
position:relative;
float:left;
height: 100px;
margin:0;
padding:0;
background: none repeat scroll 0 0 #CBBCA1;
border:none;
border-right: 1px solid  #A99879;
border-radius: 0; 
-moz-border-radius: 0; 
-webkit-border-radius:0;
}

 a.fancyMenu {
text-decoration:none;
text-align:center;
display:block;
color:#806F52;
font-weight:bold;
height:100px;
line-height:100px;
width:20%;
border-radius: 0; 
   -moz-border-radius: 0; 
   -webkit-border-radius: 0;
}
 .fancy .lastMenu{
position:relative;
float:left;
height: 100px;
margin:0;
padding:0;
background: none repeat scroll 0 0 #CBBCA1;
border: none;
border-radius: 0; 
   -moz-border-radius: 0; 
   -webkit-border-radius: 0;
}

 .fancy a.lastMenu{
text-decoration:none;
text-align:center;
display:block;
color:#806F52;
font-weight:bold;
height:100px;
line-height:100px;
width:19%;
border: none;
border-radius: 0; 
   -moz-border-radius: 0; 
   -webkit-border-radius: 0;
}


 a.fancyMenu:hover,
 a.lastMenu:hover
{
text-decoration:underline;
//opacity:.5;
//filter: alpha(opacity=25);
background: #EBE5E5;
}
 .fancy a.fancyMenu:after,
 .fancy a.lastMenu:after {
display:none;
}





/**** below is for the list below the table of images **/
.menuList  {
position:relative;
float:left;
list-style:none;
margin:0;
padding:0;
width:100%;
}
.menuList li {
margin:0 0 5px;
padding:0;
width:100%;
}
.menuList a {
    background: url(http://setdesign-la.com/bagelmania-images/b.png) 0 0 no-repeat #CBBCA1;
    border-bottom: 1px solid grey;
    border-top: 1px solid #000000;
    display: block;
    margin: 0;
    padding: 10px 0 10px 55px;
    text-decoration: none;
    color:#806F52;
    font-weight:bold;
}
.menuList a:hover {
text-decoration:underline;
background: url(http://setdesign-la.com/bagelmania-images/b.png) 0 0 no-repeat #ebe5e5;
}
.menuFont {
font-size: 12px;
}
/** ###################################################################################################

SIDEBAR MENU STYLES (for photoswipe and fancybox)

############################################################################################################ **/
#Gallery a {
    background-position: center center;
    background-repeat: no-repeat;
    border: 5px solid #806F52;
    border-radius: 8px 8px 8px 8px;
    float: left;
   // height: 48px;
    margin: 5px 6px ;
    padding: 6px;
    position: relative;
    text-decoration: none;
    width: 80%;
	text-align:center;
}

 #Gallery a:after {
   background: none repeat scroll 0 0 #A99879;
   background: -moz-linear-gradient(center top , #EE161C, #5E1B16) repeat scroll 0 0 #EE161C;
   background-image: -webkit-linear-gradient(top, #ee161c, #5e1b16);
   background-image: -moz-linear-gradient(top, #ee161c, #5e1b16);
   background-image: -ms-linear-gradient(top, #ee161c, #5e1b16);
   background-image: -o-linear-gradient(top, #ee161c, #5e1b16);
   
    border-radius: 8px 8px 8px 8px;
    bottom: -2px;
    color: #ffffff;
    content: attr(title);
    display: inline-block;
    font-size: 12px;
    overflow: hidden;
    padding: 5px 0;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

#Gallery a:hover{
opacity: .5 ;
filter: alpha(opacity=50);
}

#Gallery li {
list-style:none;
border:none;
}

 a.fancySidebar  {
    background-position: center center;
    background-repeat: no-repeat;
    border: 5px solid #806F52;
    border-radius: 8px 8px 8px 8px;
    float: left;
   // height: 48px;
    margin: 5px 6px ;
    padding: 6px;
    position: relative;
    text-decoration: none;
    width: 80%;
	text-align:center;
}

 a.fancySidebar:after {
    background: -moz-linear-gradient(center top , #EE161C, #5E1B16) repeat scroll 0 0 #EE161C;
	background-image: -webkit-linear-gradient(top, #ee161c, #5e1b16);
   //background-image: -moz-linear-gradient(top, #ee161c, #5e1b16);
   background-image: -ms-linear-gradient(top, #ee161c, #5e1b16);
   background-image: -o-linear-gradient(top, #ee161c, #5e1b16);
    border-radius: 8px 8px 8px 8px;
    bottom: -1px;
    color: #FFFFFF;
    content: attr(title);
    display: inline-block;
    font-size: 12px;
    overflow: hidden;
    padding: 5px 0;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

 a.fancySidebar:hover{
opacity: .5 ;
filter: alpha(opacity=50);
}

#Gallery  {      /** this works for both the menu and sidebar for photo swipe gallery **/
	display:none;
	}
.fancyFancy {   /** this is for the sidebar fancybox **/
	display:block;
	}
.fancy {        /** this is for the menu page fancybox **/
display:block;
}
/** ############################################################################
     POP-UP LOGIN STYLES
	 ############################################################################ **/
 
 #login label {
 display:none;
 }
  #login form input {
 margin: 0 auto;
 }
 #login .topText {
 margin: 0 0 5px;
 }
 #login form {
 margin: 0 auto;
 text-align:center;
 }
 #login input.form-text {
 float:none;
 background: #ffffff;
 }
 #login .loginTitle {
 text-align:center;
 margin: 0 0 30px ;
 }
 .fancybox-outer {
 //background: url(http://www.setdesign-la.com/bagelmania-images/BMlogin.jpg) 0 0 no-repeat !important;
 }
 
/** ##########################################
    PRESS STYLES
	########################################## **/

#press {
margin:0;
padding: 20px 0 0;
}
#press a {
padding: 10px 0 5px !important;
}
#content #press p {
margin: 10px 0 10px;
}


/************************************************************************************
CLEARFIX
*************************************************************************************/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }

/**************************************************************************************
Misc. From System 
*************************************************************************************/
/* searchform */
#searchform {
	position: absolute;
	right: 10px;
	bottom: 6px;
	z-index: 100;
	width: 160px;
}
#searchform #s {
	width: 140px;
	float: right;
	background: #fff;
	border: none;
	padding: 6px 10px;
	/* border radius */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* box shadow */
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	/* transition */
	-webkit-transition: width .7s;
	-moz-transition: width .7s;
	transition: width .7s;
}

tbody {
border:0;
}
tr.even, tr.odd {
background:transparent;
}
// td.title-author {
//display:none;
//}
#content p.submitted {
    border-bottom: 1px dotted #806F52;
    color: #806F52;
    font-size: 12px;
    font-style: italic;
    margin: -5px 0 25px;
    padding: 0px 0 5px;
	font-weight:normal;
}
.node-author .username { /** this is used to get rid of author name in recent block, in right column **/
display:none;
}
.profile .user-picture { /** this is for the image on the user page, don't really need it **/
margin: -75px 1em 1em 0;
display:none;
}
#content article.post img { /** for images added to article posts **/
    float: right;
    margin: 0 0 15px 25px;
}
#content a img.fade-title  {
margin:0;
position:realtive;
}
#slideshow img{ /** this is for the fade-slideshow, keep it centered **/
margin:0 !important;
float: none;
}
#content p {
text-align:left;
margin: 0 0 15px;
color: #806F52;
font-weight:bold;
}
.region-news-feed .views-field  {
border-bottom: 1px solid #ffffff;
padding: 5px 0 5px 0;
}

#content article.post .node-20 img,   /** this is for the images on form page, enter-here and contact-form  **/
#content article.post .node-9 img
 { 
 float: right;
 margin: 0 0 0 -30px;

 }
#content h1 {
border-bottom:5px solid #806F52;
padding: 0 0 20px;
margin: 0 0 10px;
}
 
.page-node-9 #content h1  ,
.page-node-20 #content h1  {
 border-bottom: none;
 padding: 25px 0 30px;
 }
 
 
 
 
 /** ################################################################################
     ANIMATION FOR THE BOUNCING BAGEL
	 ################################################################################ **/
  .bagelBounce {
    bottom: 30px;
	left: 360px;
    position: absolute;
	height: 50px;
	width: 50px;
	background: url(http://www.setdesign-la.com/bagelmania-images/bagel.png) 0 0 no-repeat;	
	z-index:100;
   -webkit-animation: bounce 5s ease-in-out   1  forwards;
      -moz-animation: bounce 7s ease-in-out   1  forwards;
           animation: bounce 5s ease-in-out   1  forwards;
	   /** animation: <name> <duration> <timing-function> <delay> <iteration-count> <direction> <fill-mode>; **/
    }

/**   -------------------------------- KEYFRAMES FOR BOUNCING BAGEL --------------------------------------- **/	
	
@-webkit-keyframes bounce {
	 40%, 70%, 90%{
		bottom: 25px;
		-webkit-animation-timing-function: ease-out;	
	}
	0% {
		bottom: 500px;
		left: 150px;
		
		-webkit-animation-timing-function: ease-in;
	}
	
	55% {
		bottom: 70px;
		
		-webkit-animation-timing-function: ease-in;
	}
	80% {
		bottom: 45px;
		-webkit-animation-timing-function: ease-in;
	}
	95% {
		bottom: 35px;
		-webkit-animation-timing-function: ease-in;
	}
	100% {
		left: 360px;
		bottom: 30px;
		-webkit-animation-timing-function: ease-out;	
	}
}
@-moz-keyframes bounce {
	 40%, 70%, 90%{
		bottom: 25px;
		-moz-animation-timing-function: ease-out;	
	}
	0% {
		bottom: 500px;
		left: 150px;
		
		-moz-animation-timing-function: ease-in;
	}
	
	55% {
		bottom: 100px;
		
		-moz-animation-timing-function: ease-in;
	}
	80% {
		bottom: 70px;
		-moz-animation-timing-function: ease-in;
	}
	95% {
		bottom: 55px;
		-moz-animation-timing-function: ease-in;
	}
	100% {
		left: 360px;
		bottom: 30px;
		-moz-animation-timing-function: ease-out;	
	}
}
@keyframes bounce {
	 40%, 70%, 90%{
		bottom: 25px;
		animation-timing-function: ease-out;	
	}
	0% {
		bottom: 500px;
		left: 150px;
		animation-timing-function: ease-in;
	}
	
	55% {
		bottom: 70px;
		animation-timing-function: ease-in;
	}
	80% {
		bottom: 45px;
		animation-timing-function: ease-in;
	}
	95% {
		bottom: 35px;
		animation-timing-function: ease-in;
	}
	100% {
		left: 360px;
		bottom: 30px;
		animation-timing-function: ease-out;	
	}
}



/** ###################################################################################################################
    Fade Slideshow stuff
	################################################################################################################### **/
	

 
 
	



